<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">これは大会の記録を遠隔で管理できるアプリケーションです。<br>全国各地で開催される大会記録をいつでもどこからでも確認できます。<br>操作はシンプルで誰でも閲覧可能です。</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
            <% if user_signed_in? %>
              <h4 class="text-white">Log out</h4>
              <ul class="list-unstyled">
                <li><%= link_to current_user.name, class: "text-white" %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></li>
              </ul>
            <% else %>
              <h4 class="text-white">Sign in</h4>
              <ul class="list-unstyled">
                <li><%= link_to "新規登録", new_user_registration_path, class: "text-white" %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: "text-white" %></li>
                <%# <li><a href="#" class="text-white">大会関係者</a></li> %>
              </ul>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg> -->
            <strong>大会Log</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><%= @event.event_title %></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">試合記録</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown04">
                  <li><a class="dropdown-item" href="#">1回戦</a></li>
                  <li><a class="dropdown-item" href="#">2回戦</a></li>
                  <li><a class="dropdown-item" href="#">3回戦</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">１回戦</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="#">追加</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>